
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #656c72;
    --semi-secondary-color: #b3b8bd;
    --third-color: #2d72c2;
    --text-color: #333;

}

body.dark-mode {
    --primary-color: #1e1e1e; 
    --secondary-color: #999; 
    --semi-secondary-color: #555;
    --third-color: #70e9d9ec;
    --text-color: #f5f5f5; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/*Header donde va el logo y el menu de navegacion*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    margin: 0rem 2.5rem;
}

.nav-item{
        display: inline-block;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    

}

.nav-item a {
text-decoration: none;
color: var(--text-color);
}
.nav-item a:hover {
text-decoration: underline
}




/*Centro de la pagina*/
.profile-image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 2rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px var(--secondary-color);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

main {
    flex: 2;
    margin-left: 2rem;
    margin-right: 2rem;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2rem;
    text-align: center;
    color: var(--secondary-color);
    align-items: center;
}

/*Centro de la pagina estilos y size*/
.about-me p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-color);
}

.projects {
    margin-top: 2rem;
}

.projects-item {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.projects-item a {
    text-decoration: none;
    color: var(--third-color);
}
.projects-item a:hover {
    text-decoration: underline;
}

/*Skills section styles*/
.skills {
    margin-left: 2rem;
}
.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.skills i {
    font-size: 2rem;
    color: var(--text-color);
    margin-right: 0.5rem;

}


/*footer donde van los skills*/

footer {
    text-align: center;
    padding: 1rem;
    width: 100%;
    background: linear-gradient(to top, var(--semi-secondary-color),  var(--primary-color) );
    color: var(--text-color);;
    text-shadow: var(--secondary-color) 0px 0px 1px;
    position: fixed;
    bottom: 0;
}


/*Contact form styles*/


form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 2rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 400;
}

input, textarea {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--secondary-color);
}

input[type="text"],
input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

input:hover,
textarea:hover {
    border-color: var(--third-color);
}

.submit-btn {
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}


